# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Provided default Pycharm Run/Debug Configurations should be tracked by git
# In case of local modifications made by Pycharm, use update-index command
# for each changed file, like this:
# git update-index --assume-unchanged .idea/django_polls.iml
!.idea/runConfigurations/
!.idea/django_polls.iml
!.idea/vcs.xml
!.idea/webResources.xml

# npm
node_modules/

# Compass
.sass-cache

# User-uploaded media
django_polls/media/

# Hitch directory
tests/.hitch
