# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=secret
DJANGO_ALLOWED_HOSTS=.herokuapp.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=secret
DJANGO_AWS_SECRET_ACCESS_KEY=secret
DJANGO_AWS_STORAGE_BUCKET_NAME=secret

# Used with email
DJANGO_MAILGUN_API_KEY=secret
DJANGO_SERVER_EMAIL=no-reply@example.com

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

DJANGO_OPBEAT_ORGANIZATION_ID=secret
DJANGO_OPBEAT_APP_ID=secret
DJANGO_OPBEAT_SECRET_TOKEN=secret

COMPRESS_ENABLED=True
